<div>
  {{title}}
  <app-dropdown
    [dropdownTitle]="'My custom title'"
    (checkedValue)="handleDropdownSelection($event)">
  </app-dropdown>

  <router-outlet></router-outlet>

  <pre>
    {{posts | async | json}}
  </pre>

  <button (click)="downloadFile()">Download Me</button>

  <input type="file" (change)="getFile($event)">
  <button (click)="sendFile()">Upload</button>

  <p>{{pipedText}}</p>

  <a href="" style="display: none;" #downloadHelper></a>

</div>


<a href="https://www.facebook.com/v2.10/dialog/oauth?
          client_id=1996429017260385&
          response_type=token&
          scope=user_photos,user_location&
          redirect_uri=http://localhost:4200/facebook/auth">
  Sign In with Facebook
</a>

<pre></pre>
